<footer class="footer">
    <div class="footer__container container">
        <h1 class="footer__title">TuanHM</h1>
        <ul class="footer__list">
            <li>
                <a href="#about" class="footer__link">About</a>
            </li>
            <li>
                <a href="#work" class="footer__link">Project</a>
            </li>
            <li>
                <a href="#testimonial" class="footer__link">Testimonial</a>
            </li>
        </ul>
        <ul class="footer__social">
            <a href="" class="footer__link-social">
                <i class='bx bxl-facebook-circle' ></i>
            </a>
            <a href="" class="footer__link-social">
                <i class='bx bxl-instagram-alt' ></i>
            </a>
            <a href="" class="footer__link-social">
                <i class='bx bxl-twitter' ></i>
            </a>
        </ul>
        <span class="footer__copy"> 
            &#169; TuanHM. All rights reserved
        </span>
    </div>
</footer>